# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist/
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dependencies
.pnp
.pnp.js

# testing
coverage
/.nyc_output

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# local env files
.env*
secrets.*.js

# turbo
.turbo


